# --- Global / IDE Files ---
.idea/
*.iml
*.ipr
*.iws
.DS_Store
captures/
.externalNativeBuild
.cxx
local.properties
.classpath
.project
.settings/
.factorypath

# --- Android Project Specific (lapMart) ---
lapMart/.gradle/
lapMart/local.properties
lapMart/app/build/
lapMart/build/
lapMart/*.iml
lapMart/.idea/
lapMart/app/*.iml

# --- Android Project Specific (Admin App - LapMart Admin) ---
LapMart\ Admin/.gradle/
LapMart\ Admin/local.properties
LapMart\ Admin/app/build/
LapMart\ Admin/build/
LapMart\ Admin/*.iml
LapMart\ Admin/.idea/
LapMart\ Admin/app/*.iml


# Node.js & Firebase Cloud Functions
node_modules/
**/node_modules/
.firebase/
Firebase Cloud Function/functions/node_modules/

# ==========================================
# Spring Boot Specific (lapmart-email-service)
# ==========================================
HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# --- Help files ---
.navigation/


