# --- Global / IDE Files ---
.idea/
*.iml
.DS_Store
captures/
.externalNativeBuild
.cxx
local.properties

# --- Android Project Specific (lapMart) ---
lapMart/.gradle/
lapMart/local.properties
lapMart/app/build/
lapMart/build/
lapMart/*.iml
lapMart/.idea/
lapMart/app/*.iml

# --- Android Project Specific (Admin App - LapMart Admin) ---
LapMart\ Admin/.gradle/
LapMart\ Admin/local.properties
LapMart\ Admin/app/build/
LapMart\ Admin/build/
LapMart\ Admin/*.iml
LapMart\ Admin/.idea/
LapMart\ Admin/app/*.iml

# --- Spring Boot Backend Specific (lapmart-backend) ---
lapmart-backend/target/
lapmart-backend/!.mvn/wrapper/maven-wrapper.jar
lapmart-backend/.settings/
lapmart-backend/.project
lapmart-backend/.classpath
lapmart-backend/*.log
lapmart-backend/.factorypath

# --- Help files ---
.navigation/